@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1903px;
  width: 90.17%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header > .wrapper {
  width: 100%;
  /* padding:36px 4.78% 38px 5.14%; */
  padding:36px 0 38px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #4D4884 30%, #166583);
  color: #FFF;
  text-transform: uppercase;
  font-size: 19px;
}

nav {
  margin-left: 5.14%;
  flex-basis: 28.42%;
}

.navbar {
  /* margin-left: 5.14%; */
  display: flex;
  justify-content: space-between;
}

header a {
  color: #FFF;
}

.brand-name {
  order:1;
}
  
.navbar-right {
  margin-right: 4.78%;
  /* display: flex;
  justify-content: space-between; */
  flex-basis: 30.63%;
  order:2;
}

.navbar-right-list {
  display: flex;
  justify-content: space-between;
}

.brand-name > a {
  text-indent: -9999px;
}

.brand-name > a > img {
  width: 200px;
  height: 32px;
  float: right;
}

.res-view {
  display: none;
}



/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
.section1 > div {
  width: 100%;
  position: relative;
  padding-top: 162px;
  padding-bottom: 184px;
  background-image:linear-gradient(rgba(71,66,132,0.6),rgba(21,100,130,0.6)), url('https://via.placeholder.com/1903x732/6EA3A8/000000');
}

.section1-item:nth-of-type(n+2) {
display: none;
}

.section1-list {
  /* width: 60.60%; */
  width: 54.65%;
  /* padding-top: 143px; */
  margin: 0 auto;
}

.section1-item {
  display: flex;
}

.section1-fig {
  flex-basis: 42.32%;
}

.section1-fig > img {
     height: 100%;   
}

.scroll-left {
  width: 2.78%;
  border-bottom-right-radius: 106px;
  border-top-right-radius: 106px;
  position: absolute;
  top: 50%;
  background-color: #FFF;
  color: #92cdea;
  font-size: 49px;
  height: 106px;
  /* width: 53px; */
  transform: translateY(-50%);
}

.scroll-left > i {
  transform: translate(50%,50%);
}

.scroll-right {
  position: absolute;
  top: 50%;
  right: 0;
  background-color: #FFF;
  color: #92cdea;
  font-size: 49px;
  width: 2.78%;
  border-bottom-left-radius: 106px;
  border-top-left-radius: 106px;
  height: 106px;
  /* width: 53px; */
  transform: translateY(-50%);
}

.scroll-right > i {
  transform: translate(120%,50%);
}

.section1-content {
  flex-basis: 57.67%;
  background: #fff;
}

.section1-title {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  clear: left;
}

.section1-content > p {
  width: 87.56%;
  margin: 25px auto 36px;
  font-size: 20px;
  text-align: center;
  line-height: 2.2;
  /* margin-top: 25px;
  margin-bottom: 36px; */
}

.read-more-btn {
  /* padding: 17px 25px; */
  padding: 17px 4.13%;
  margin: 0 auto;
  border: 2px solid #4291cb;
  display: block;
  font-size: 21px;
  width: fit-content;
  /* text-align: center; */
  text-transform: uppercase;
}

.read-more-btn::after {
  content: "\f178 " ;
  font-family: "FontAwesome";
  font-size: 14px;
  padding-left: 10px;
}

.hex-title {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 19px;
  text-transform: uppercase;
  font-weight: bold;
  transform: translate(-50%,-50%);
}

.section2 > div {
padding: 71px 0 71px;
}

.section2-title {
  width: 71.60%;
  /* margin-top: 39px; */
  margin: 39px auto 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.6;
  text-align: center;
}

.section2-title:nth-of-type(2),
.section2-title:nth-of-type(4) {
  margin-top: 22px;
}

.section2-item > div > p {
  width: 88%;
  margin: 13px auto 0;
  font-size: 21px;
  text-align: center;
  line-height: 1.9;
}

.section2-list {
  margin-top: 135px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  clear: left;
}

.section2-title.hex-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -141%);
}
  

.section2-item {
  height: max-content;
  margin-bottom: 44px;
  border: 1px #808080 solid;
  border-radius: 20px;
  display: inline-block;
  list-style-type: none;
  flex-basis: 23.07%;
}

.section2-item:nth-of-type(6) {
  transform: translateY(-119px);
}

.section2-item:nth-of-type(7) {
transform: translateY(-24px);
}
.section2-item:nth-of-type(8) {
  transform: translateY(-85px);
}

 
.section2-fig > img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.section2-hex {
  margin: 0 auto;
  width: fit-content;
}

.section2-hex .hex-middle{
  /* width: 343px; */
  width: calc(17.86vw);
  height: 61px;
}

.section2-hex .hex-left {
  border-top: 30px solid transparent;
  border-right: 30px solid #1c8ee4;
  border-bottom: 30px solid transparent;
}

.section2-hex .hex-right {
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #1c8ee4;
}

.section2-item .blue-hex {
transform: translateY(-63px);
}

.post-list {
  margin: 49px auto 0;
  border-top: 1px solid #c7c7c7;
  display: flex;
  justify-content: space-around;
  color: #c8c8c8;
  font-size: 30px;
}

.post-item {
  padding: 14px 13.81%;
}

.post-item:nth-of-type(2) {
border-left: 1px solid #c7c7c7;
border-right: 1px solid #c7c7c7;
}


.section3-title {
  width: max-content;
  margin: 0 auto;
  font-size: 23px;
  font-weight: bold;
  text-transform: uppercase;
    /* display: block; */
}

.section3-list {
  margin-top: 118px;
  display: flex;
  justify-content: space-between;
  clear: left;
}

.section3-item {
  flex-basis: 31.70%;
}

.section3-link > .item-title {
  font-size: 27px;
  font-weight: bold;
  text-transform: uppercase;
    /* transform: translateX(47.4%);
    transform: translate(47.4%, -54px); */
    float: right;
    transform: translate(-15.06%, -54px);
}

.section3 {
  /* width: 100%; */
  background-image:linear-gradient(rgba(71,66,132,0.6),rgba(21,100,130,0.6)), url('https://via.placeholder.com/1903x732/6EA3A8/000000');

}

.section3 > .wrapper {

  padding: 88px 0 95px;
}

.section3 .hex-middle {
  width: calc(17.86vw);
  /* width: 343px; */
  height: 61px;
}

.section3 .hex-left {
  border-top: 30px solid transparent;
  border-right: 30px solid #1c8ee4;
  border-bottom: 30px solid transparent;
}

.section3 .hex-right {
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #1c8ee4;
  position: relative;
}

.section3 .hex-right::after {
  content: '';
  width: 500%;
  margin-top: 10px ;
  position: absolute;
  bottom: 15px;
  transform: translateY(-50%);
  background-color: #c2c2c2;
}

.section4 {
  background-color: #f6f6f6;
}

.section4-item {
  margin-bottom: 42px;
}

.section4-item:nth-of-type(1) {
  padding-bottom: 16px;
  margin-bottom: 0;
  font-size: 23px;
  font-weight: bold;
  text-transform: uppercase;
}

.section4-item:nth-of-type(2) {
  padding-top: 21px;
  border-top: 1px #808080 solid;
}

.section4-item:last-of-type {
  margin-bottom: 0;
}

.section4-link {
  color:#000;
  font-size: 20px;
  font-weight: bold;
}

.section4 > div {
  padding: 106px 0 124px;
  display: flex;
  justify-content: space-between;
}

.section4-list {
  flex-basis: 29.63%;
}

.section4-link > span {
  color:#808080;
  font-weight: normal;
  font-style: italic;
}

.section4-para {
  line-height: 1.8;
}

.section5-title {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
    /* margin: 0 auto; */
    /* letter-spacing: -0.5px;*/
}

.form-ip > input {
  width: 47%;
  padding: 20px 1.74%;
  border-radius: 20px;
  font-size: 18px;
}

.submit-btn {
  padding: 19px 1.92%;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  background-color: #318AAA;
  color: #F6F6F6;
  font-weight: bold;
  letter-spacing: -1px;
}

.section5 > div {
  padding: 68px 0 95px;
  /* padding-top: 68px;
  padding-bottom: 95px; */
}
.section5 {
  background: linear-gradient(to right, #555092 30%, #237491);
}

form {
  margin-top: 32px;
  display: flex;
/* transform: translateX(17.6%); */
margin: 32px 0 0 17.6%;

}

.form-ip {
  flex-basis: 53.7%;
  }
  
  
  .form-ip > input {
  width: 91%;
  }
  
  form > div:nth-of-type(2) {
  flex-basis: 20%;
  }
  
  .submit-btn {
  width: 66.7%;
  }
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer {
  background-image:linear-gradient(rgba(71,66,132,0.6),rgba(21,100,130,0.6)), url('https://via.placeholder.com/1903x732/6EA3A8/000000');
}

footer > div {
  padding: 111px 0 58px ;
}

.footermiddle-item:nth-of-type(1) {
  padding-bottom: 19px;
  display: list-item;
  font-size: 23px;
  font-weight: bold;
  text-transform: uppercase;
}

.footermiddle-item:nth-of-type(2)
{
  padding-top: 38px;
  border-top: 1px solid #c8c8c8 ;
}

.footermiddle-item {
  font-weight: bold;
  font-size: 20px;
  color:#fff;
  line-height: 1.8;
}

.footermiddle-item:nth-of-type(n+2) {
  margin-bottom: 37px;
}

.footermiddle-link {
  color: #fff;
}

.footermiddle-link span {
  font-weight: normal;
  font-style: italic;
}

.footer-contents {
  display: flex;
  justify-content: space-between;
}

.footer-left {
  flex-basis: 31.58%;
  font-size: 20px;
  line-height: 1.8;
  color: #c7c7c7;
}

.footer-left > a {
  text-indent: -9999px;
}

.footer-left > a > img {
  float: right;
}

.footermiddle-list {
  flex-basis: 24.59%;
}

.footer-right {
  flex-basis: 29.13%;
}

.footer-right-title {
  font-size: 23px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.footermiddle-para {
  /* line-height: 1.8; */
}

.contact-details {
  margin-top: 26px;
  color: #FFF;
}

.contact-details a {
  color: #FFF;
}

.contact-details li {
  display: list-item;
  margin-bottom: 14px;
}

.footer-para {
  margin-top: 61px;
}

.social-items {
  padding-right: 18px;
}

.social-items::before {
  font-family: "FontAwesome";
  font-size: 23px;
}


.social-items:nth-of-type(1)::before {
  content: "\f09a";
}

.social-items:nth-of-type(2)::before {
  content: "\f0d5";
}

.social-items:nth-of-type(3)::before {
  content: "\f0e1";
}

.social-items:nth-of-type(4)::before {
  content: "\f231";
}

.social-items:nth-of-type(5)::before {
  content: "\f099";
}  

.social-items:nth-of-type(6)::before {
  content: "\f0e0";
}

.social-items a {
  text-indent: -9999px;
}

.footer-right > ul {
  padding-top: 56px;
  border-top: 1px solid #c8c8c8;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-right-item {
  margin-bottom: 28px;
  flex-basis: 29.71%;

}

.footer-right-title {
  padding-bottom: 19px;
  margin-top: 6px;
}

.footer-bottom {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-bottom-para {
  text-transform: uppercase;
  color: #fff;
}

.footer-bottom-list {
  flex-basis: 19.34%;
}

.footer-bottom-item > a {
  color:#fff;
}

.footer-bottom-item:first-of-type {
  padding-right: 7.85%;
  border-right: 1px solid #fff;
}

.footer-bottom-item:last-of-type {
  padding-left: 7.85%;
}

.contact-details a {
  color: #c7c7c7;
}

address {
  color: #c7c7c7;
}

.fa-angle-up {
  color: #fff;
  font-size: 54px;
}

.back-to-top {
  display: inline-block;
  padding: 8px 1.39%;
  border: 1px solid #ffffff;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
    /* margin: 0 auto; */
    /* width: max-content; */
    /* text-align: center; */
}

.back-to-top:before {
  content: "";
  /* width: 930px; */
  width: 48.87vw;
  left: calc(-48.87vw);
  /* left: -930px; */  
  display: block;
  height: 2px;
  background: white;
  top: 50%;
  position: absolute;
}

.back-to-top:after {
  content: "";
  width: calc(46.76vw);
  right: calc(-46.76vw);  
  display: block;
  /* width: 909px; */
  height: 2px;
  background: white;
  /* right: -909px; */
  top: 50%;
  position: absolute;
}
.hex-left {
  float: left;
  border-right: 23px solid #1c8ee4;
  border-top: 23px solid transparent;
  border-bottom: 23px solid transparent;
}
.hex-middle{
  float: left;
  width: calc(12.87vw);
  /* width: 245px; */
  height: 47px;
  background-color: #1c8ee4;
  position:relative;
}
.hex-right{
  float: left;
  border-left: 23px solid #1c8ee4;
  border-top: 23px solid transparent;
  border-bottom: 23px solid transparent;  
}
  
.hex-title {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
 
.blue-hex {
margin: 0 auto;
width: fit-content;
transform: translateY(-23px);
}

.contact-details li:nth-of-type(1)::before {
  content: "\f124";
  padding-right: 10px;
  font-family: "FontAwesome";
  font-size: 21px;
}

.contact-details li:nth-of-type(2)::before {
  content: "\f095";
  padding-right: 10px;
  font-family: "FontAwesome";
  font-size: 21px;
}

.contact-details li:nth-of-type(3)::before {
  content: "\f003";
  padding-right: 10px;
  font-family: "FontAwesome";
  font-size: 21px;
}


.hide-element {
  display: none;
}

.show-element {
  display: block;
}

.border-red {
  border: 2px solid #f00;
  outline: 2px solid #f00;
}

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 1024px) {
  
.navbar {
  justify-content: flex-end;
}

.menu-bar {
    display: block;
}
   
.hide-menu-item {
    display: none;
}
 
.hamburger-menu {
  display: flex;
  flex-direction: column;
}

.show-menu-item {
  display: block;
}


}  


@media only screen and (max-width:768px) {
.section3-link > .item-title {
  font-size: 20px;
}

.hex-title {
  font-size: 15px;
}

.section2-item {
  flex-basis: 46.14%;
}

.section2-item:nth-of-type(4) {
  transform: translateY(-150px);
}

form > div:nth-of-type(2) {
  flex-basis: 42%;
}

.footer-contents {
  flex-wrap: wrap;
}

.footer-contents > div,
.footer-contents > ul {
  flex-basis: 46.58%;
}

.section4 > div {
  flex-wrap: wrap;
}

.section4-list {
  flex-basis: 46%;
}

.section4-list:nth-of-type(3) {
  margin-top: 100px;
}

.scroll-right {
  height: unset;
  right: 0;
}

.scroll-right > i {
  transform: unset;
}

.scroll-left {
  height: unset;
}

.scroll-left > i {
  transform: unset;
}

}



@media only screen and (max-width:320px) {

  .section1-list {
      width: 70%;
  }

  .scroll-right,.scroll-left{
    width: 6.78%;
  }

  .section1-item {
    display: flex;
    flex-wrap: wrap-reverse;
  }

  .section1-fig {
    flex-basis: 95%;
  }

  .section1-content {
    flex-basis: 95%;
  }

  .section2-item {
    flex-basis: 95%;
  }

  .section2-item .hex-middle {
    width: calc(30vw);
  }

  .section2-item {
    transform: unset;
    margin-bottom: 100px;
  } 

  .section2-item:nth-of-type(2n){
    transform: unset;
  }

  form {
  margin: 32px 0 0 5%;
  flex-wrap: wrap;

  }


  .form-ip {
    flex-basis: 95%;
  }


  form > div:nth-of-type(2) {
    flex-basis: 95%;
    margin-top:20px;
  }

  .section4-list {
    flex-basis: 96%;
    margin-top: 100px;
  }

  .footer-contents > div,
  .footer-contents > ul {
    flex-basis: 95%;
  }

  .section2-hex .hex-middle {
    width: calc(30vw);
  }

  .section3-list {
  flex-wrap:wrap;
  }

  .section3-item {
    flex-basis: 95%;
  }

  .section3 .hex-middle{
  width: calc(30vw);
  }

  .footer-bottom {
  flex-wrap:wrap;
  }


  .footer-bottom-list {
      flex-basis: 95%;
  }

  .footer-bottom-item:first-of-type {
      padding-right: 3%;
  }

  .footer-bottom-item:last-of-type {
      padding-left: 3%;
  }





}